.loader {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.ant-form-item-required::after{
content: "*" !important;
display: inline-block;
    margin-left: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';

}

.ant-form-item-required::before{
    content: "" !important;
    display: inline-block;
        margin-left: 4px;
        color: #f5222d;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
    
    }