/*Append * to label of required fields*/
label.required:after {
    content:" * ";
    color:red;
}


.loader {
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 100%;
    width: 100%;
}

.ant-spin-dot {
    font-size: 24px;
}
.loader-icon svg { 
    width: 4em;
    height: 4em;
}
div.row{
    margin-top:10px;
}

label.ant-form-item-required::after{
    content: "*";
    display: inline-block;
    margin-left: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}

.ant-form-item-required::before{
    content: ""; 
}

.marginbutton {
    align-items: center;
  margin: 0 28px 28px 50px;
}

.selectWidth {
  width: 200px;
}
