/*Append * to label of required fields*/
label.required:after {
    content:" * ";
    color:red;
}

div.row{
    margin-top:10px;
}

label.ant-form-item-required::after{
    content: "*";
    display: inline-block;
    margin-left: 4px;
    color: #f5222d;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
}

label.ant-form-item::after{
    content: "";
}
.ant-form-item-required::before{
    content: ""; 
}

.ant-form-item-label{
    text-align: left;
}

.tab-container{
    min-height: 200px;
    padding: 25px;
    margin: 25px;
}

.marginbutton {
    align-items: center;
    margin: 0 28px 28px 50px;
}

.selectWidth {
  width: 200px;
}

.contentHeader{
    font-weight: bold;
    font-size: 36px;
}

.divider{
    border-bottom: 1px solid #d9d9d9; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-btn{
    margin: 5px;
}
.pull-right{
    text-align: right;
}